input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

colgroup {
  color: #f3c1ff;
  color: #fafb7b;
  color: #fc5566;
  color: #03dcd6;
  color: #f8c3f2;
}

.bg-rj-blue {
  background-color: #00c2a2;
}

/* Estilos para los links del menu lateral */
.link-rj-blue {
  background-color: #00c2a2;
  border-radius: 5px;
}

.nav-link-rj {
  color: #ffffff;
}

.nav-link-rj:hover {
  color: #00c2a2;
}

.bg-rj-lred {
  background-color: #ffbec5;
}

.bg-rj-lgreen {
  background-color: #0bc769;
}

.bg-rj-gray {
  background-color: rgb(234, 241, 239);
}

.bg-rj-red {
  background-color: #fc5566;
}

.bg-rj-yellow {
  background-color: #e7cd08;
}

.bg-rj-lpink {
  background-color: #c475d8;
}

.bg-rj-pink {
  background-color: #cf79c5;
}

.rj-text-green {
  color: #00a038;
}

.btn-rj-blue {
  background-color: #00b995;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 7px;
  transition: all 300ms ease;
}

.btn-rj-blue:hover {
  background-color: #166d83;
  color: white;
}

.rj-link-active {
  background-color: #166d83;
}

.active > .page-link {
  z-index: 3;
  background-color: #00b6bd;
  color: white;
  border-color: #00b6bd;
}

.page-item {
  --bs-pagination-color: #00b6bd;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.rj-offcanva-link {
  border-radius: 10px;
}

.rj-offcanva-link:hover {
  background-color: #0d9e86;
}

.admin {
  background-color: rgb(17, 145, 81);
  color: white;
  border-radius: 10px;
  text-align: center;
  max-width: 100px;
}

.user {
  background-color: rgb(17, 92, 145);
  color: white;
  border-radius: 10px;
  text-align: center;
  max-width: 100px;
}

.container-form {
  max-width: 400px;
}

.Entregado {
  background-color: #00c2a2;
  color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.no-Entregado {
  background-color: #eb5766;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.Entregado-pendiente {
  background-color: rgb(186, 133, 20);
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.card-rj {
  border-radius: 30px;
  padding: 30px;
}

.card-link {
  transition: all 300ms ease;
  cursor: pointer;
}

.card-link:hover {
  filter: brightness(1.1);
}

.link-rj {
  color: white;
  text-decoration: none;
}

.btn-rj-pink {
  background-color: #8b36a1;
  color: white;
}

.btn-rj-pink:hover {
  background-color: #601f70;
  color: white;
}

/* Confecciones*/

.niñas {
  background-color: #c475d8;
  border-radius: 30px;
}

.niños {
  background-color: #00b0d0;
  border-radius: 30px;
}

.niñosActive {
  display: block;
}

.niñosDesactive {
  display: none;
}

#niños-niñas-table {
  transition: all 300ms ease;
  padding: 18px;
}

.btn-rj-niños {
  border-radius: 40px;
}

.btn-rj-niñas {
  background-color: #c475d8;
}

/* #cajaNiñes {
    z-index: -5;
    position: absolute;
    width: 5rem;
    background-color: #00b0d0;
    height: 100%;
    border-radius: 10px;
    transition: all 300ms ease;
}

.cajaNiñesFondo {
    background-color: #d7d7d7;
    width: 140px;
    height: 300px;
    position: absolute;
    z-index: -6;
    border-radius: 10px;
} */

/* Catalogo */

.prendas-rj {
  border-radius: 30px;
}

.img-catalogo {
  border-radius: 30px;
}

/*Modal de editar*/

/*fondo*/
.fondoModal {
  display: flex;
  background: #00000073;
  width: 100%;
  height: 130%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.modalRj {
  padding: 40px;
  border-radius: 10px;
}

/* Cambiar el color del texto de notifier a blanco */
.alertify-notifier .ajs-message {
  color: #ffffff;
}

/*Quitar el color de fondo de una tabla */
.my-table {
  background-color: transparent;
}

.my-table th,
.my-table td {
  background-color: transparent;
}

/* Login */

.login-form {
  padding: 3rem;
  margin: 3rem;
  border-radius: 30px;
}

.password-table {
  background: none;
  border: 0;
}

.password-table:focus {
  outline: none;
  /* Quita el borde de enfoque */
}

.img-perfil {
  border-radius: 100%;
  cursor: pointer;
}

/* Estilos para la imagen en la tabla de prendas y patrones */
.img-prenda {
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
}
.img-prenda:hover {
  transform: scale(3);
}

/* Colores y funciones para las cards del dashboard */

.card-dashboard-rj:hover {
  background-color: #03937b;
}

.text-blue-rj {
  color: #005043;
}

.card-dashboard-rj:hover .text-blue-rj {
  color: white;
}

/* Estilo para que el input para subir la imagen se sienta seleccionable */

.input-img-rj,
.input-img-rj input {
  cursor: pointer;
  transition: all 300ms ease;
}

.input-img-rj:hover {
  background-color: rgba(0, 0, 0, 0.104);
}

/* Vista Responsive */

.sidebar {
  position: initial;
}

.sidebar.show {
  transform: translateX(0); /* Lo mostramos */
}

/* Botón de menú */
#menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background-color: #11111187;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  max-width: 60px;
  transition: 300ms all ease;
}

#menu-toggle:hover {
  background-color: #111111;
}

/* Hacemos el sidebar responsive */
@media (max-width: 900px) or (max-height: 700px) {
  #menu-toggle {
    display: initial;
  }

  .sidebar {
    position: fixed;
    width: 100%; /* Se ajusta al ancho de pantallas pequeñas */
    z-index: 1;
    height: 100%;
    transition: 0.3s;
    transform: translateX(-100%); /* Lo ocultamos a la izquierda */
  }

  .logo-conteiner {
    padding-left: 60px;
  }
}

/* Cuando el sidebar está oculto */
.sidebar.hide ~ #main-content {
  margin-left: 0; /* Elimina el espacio cuando el sidebar está oculto */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Aseguramos que ocupe toda la altura de la ventana */
}

main {
  flex-grow: 1; /* Crece para ocupar todo el espacio vertical disponible */
}

.error {
  color: rgb(255 0 0);
  font-size: 15px;
}

/* Eliminar cualquier transformación de desplazamiento en la animación del modal */
.modal.fade .modal-dialog {
  transform: none !important;
  opacity: 0;
  transition: opacity 0.1s ease; /* Solo animación de opacidad */
}

.modal.fade.show .modal-dialog {
  opacity: 1;
}
.modal-backdrop {
  backdrop-filter: blur(2px);
  background-color: #00000087;
  --bs-backdrop-zindex: none;
  --bs-backdrop-bg: none;
  --bs-backdrop-opacity: none;
}

/* Formularios renovados */

.form-control-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: none;
  border-bottom: 2px solid #0000004b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-input:focus{
  outline: none;
  border-bottom: 2px solid #03937b;
  color: #04455f;
}

.form-control-input::placeholder {
  transition: color 0.3s ease; /* Añadimos una transición suave *//
}

.form-control-input:focus::placeholder {
  color: #03937b; /* Color cuando el input tiene foco */
}

div .fw-bold {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease; /* Añadimos una transición suave */
}


/* Radio input */
/* Estilo base del radio */
input[type="radio"] {
  appearance: none; /* Elimina el estilo predeterminado del navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo cuando el radio está seleccionado */
input[type="radio"]:checked {
  border-color: #03937b; /* Color del borde cuando está seleccionado */
  background-color: #03937b; /* Fondo del radio cuando está seleccionado */
}

/* Estilo cuando el radio está seleccionado, agregando un "check" dentro del círculo */
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

/* Opcional: Estilo de los labels cuando el radio está seleccionado */
input[type="radio"]:checked + label {
  color: #0a8bbebd; /* Cambia el color del texto del label cuando el radio está seleccionado */
}

/* ---------------------CUSTOM SELECTS------------------------------------------------ */

/* Select2 personalizado */
.select2-container--custom-theme .select2-selection--single {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0000004b;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Cambio de color en hover */
.select2-container--custom-theme .select2-selection--single:hover {
  border-bottom: 2px solid #03937b;
  color: #03937b;
}

/* Flecha de despliegue estilo select2 */
.select2-container--custom-theme .select2-selection__arrow b {
  border-color: #00000088 transparent transparent transparent; /* Color de la flecha */
  border-width: 5px 5px 0px 5px; /* Ajusta el tamaño de la flecha */
}

/* Dropdown (desplegable) del select */
.select2-container--custom-theme .select2-dropdown {
  background-color: var(--bs-body-bg);
  border: 1px solid #0000004b;
  border-radius: 0;
}

/* Opciones de la lista */
.select2-container--custom-theme .select2-results__option {
  padding: 8px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--bs-body-color);
  transition: background-color 0.15s ease-in-out;
}

/* Color de fondo al hacer hover en las opciones */
.select2-container--custom-theme .select2-results__option--highlighted[aria-selected] {
  background-color: #03937b;
    color: white;
}

/* Tamaño ajustado del dropdown */
.select2-dropdown {
  overflow-y: auto;
  max-height: 300px;
  width: auto !important;
  min-width: 100%;
  max-width: 100%;
}



/* --------------------- ESTILOS PARA LAS COSAS COMPLETADAS DE TABLAS------------------------------------------------ */

.completado,
.en_curso,
.anulado{
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.completado{
  background-color: #03937b;
}
.en_curso{
  color: black;
  background-color: #ffc107;;
}
.anulado{
  background-color: #e95f5f;
}